<div id="<%= dom_id item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= item.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= item.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Brand:</strong>
    <%= item.brand %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Model:</strong>
    <%= item.model %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Year:</strong>
    <%= item.year %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Item type:</strong>
    <%= item.item_type %>
  </p>

</div>
